

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('school2.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
}

form {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

h1 {
    text-align: center;
}

.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.dropdown-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #ddd;
}